# Required
RPC_URL=https://ethereum-sepolia-rpc.publicnode.com
BEACON_URL=https://ethereum-sepolia-beacon-api.publicnode.com
INIT_SLOT=10413441
FILTER_ADDRESS=0x4343434343434343434343434343434343434343
BLOBS_PATH=/tmp/blobs/

# Optional (shown with their defaults)
# HTTP_BIND=127.0.0.1:3000
