RUST_LOG=info

HTTP_BIND=0.0.0.0:3200
DB_URL=__DB_URL__

RPC_URL=REPLACE_ME_EXECUTION_RPC_URL
TO_ADDRESS=REPLACE_ME_TARGET_ADDRESS
PRIVATE_KEY=REPLACE_ME_PRIVATE_KEY

MAX_ATTEMPTS=8
RETRY_INITIAL_SECS=4
RETRY_MAX_SECS=300
RECEIPT_POLL_SECS=6
WORKER_IDLE_SLEEP_MS=1000
