RUST_LOG=info

RPC_URL=REPLACE_ME_EXECUTION_RPC_URL
BEACON_URL=REPLACE_ME_BEACON_RPC_URL
TO_ADDRESS=REPLACE_ME_TARGET_ADDRESS

APP_STATE_DB_PATH=__APP_STATE_DB_PATH__
SYNC_METADATA_DB_URL=__SYNC_METADATA_DB_URL__
HTTP_BIND=0.0.0.0:3000
SYNC_DELAY_MS=333
# INITIAL_START_SLOT=
